
.services{
  scroll-behavior: smooth;
}
.services-page-header{
    text-align: center;
    font-size: 4em;
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 300;
    color:#828182;
   
}


.services-cards{
      width:100%;;
      height: 60vh;
      text-align: center;
      display:flex;
      font-family: 'Titillium Web', sans-serif;
      align-items: center;
      justify-content: center;
    font-size: 2.5em;}
  /* .services-cards :nth-child(1){
  background-color: #C97D60;
} */
.services-cards #graphic-box{
  background-color:#C97D60;
}

.services-cards #brand-box{
    background-color:#002642;
}

.services-cards #web-box{
    background-color: #593F62;
}

  .services-card {
    text-align: center;
    padding: 2.5%;
    width:50%;
    height:35vh;
    color:white;
    margin: 0 2.5%;
    text-decoration: none;
    border-radius: 50px;
    vertical-align: middle;
    display: flex; 

    -webkit-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out;
          scroll-behavior: smooth;
    

  }
  .services-card:hover{
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.1);
        transform: scale(1.1);
    box-shadow: 10px 15px 7px #C7C7C7;
  }
  .services-card div{

    margin: auto; /* Important */ 
   text-align: center; 
  }
  .services-card span{
    display:none
  }
  .services-card:hover span{
    display:block;
    font-size:0.5em;
  }
/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 450px) {
  .services-card{
  width:100%;
  margin:1.5% 0;
  position:relative;
  height:10vh;
  }
  
.services-cards{
 flex-wrap: wrap;
 height: 65vh;
}

  }
  /* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
  /* Styles */
  }
  
  