.page{
  background-image:url('../images/john-schnobrich-2FPjlAyMQTA-unsplash.jpg');

  background-repeat: no-repeat;
  background-size: cover;
  height: 150vh;
  padding-top:81px;
}
.header{
    text-align: left;
    font-size: 3em;
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 300;
    color:#F9DC5C;
    background: rgb(70,83,98);
    background: linear-gradient(90deg, rgba(70,83,98,1) 0%, rgba(163,169,177,1) 57%, rgba(255,255,255,0) 100%);
    width:100%;
    margin:0;
    padding: 0 2.55%;
    height:15vh;
    display: flex;
    align-items: center;
    
   
}
.header span{
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s; /* Firefox < 16 */
     -ms-animation: fadein 2s; /* Internet Explorer */
      -o-animation: fadein 2s; /* Opera < 12.1 */
         animation: fadein 2s;
}
@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
.caption{
    text-align: center;
    margin:1.5%;
    font-size: 1.25em;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}
.caption b{
  font-style: italic;
  font-weight: 400;
  font-size: 0.75em;
  display: block;
  margin: 1em auto;
}

.contact-me img{
    display: block;
    margin:2.5% auto;
    width: 15%;
}
.container{
background-color: white;
opacity: 0.9;
width :70%;
margin: 2.5em auto;
border-radius: 50px;
padding:2.5em;
}
.input{
    display: block;
    margin:2.5% auto;
    width: 55%;
    font-family: 'Poppins', sans-serif;
}
.input_box{
    width: 100%;
    font-size: 1.1em;
    padding:0 5px;
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 500;
    border-top:none;
    border-right: none;
    border-left:none;
   
}
.input_box:focus{
  outline:none;
  border-bottom-color: #4E78F5
}
.input_message_box{
    display: inline-block;
    width: 100%;
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 500;
    font-size: 1.1em;
    padding:0 5px;
    resize: none;
   
}
::placeholder{
    font-family: 'Red Hat Display', sans-serif;
  font-weight: 500;
}

:-ms-input-placeholder{
    font-family: 'Red Hat Display', sans-serif;
  font-weight: 500;
}
.submit{
  text-align: left;
  display: block;
  margin:2.5% auto;
  width: 35%;
}
.submit button{

  background-color:#4E78F5;
  color:white;
  font-family: 'Fira Sans', sans-serif;
  border: none;
  padding: 0.5em 1em;
  text-decoration: none;
  display: inline-block;
  height:2.5em;
  width:100%;
  border-radius: 50px;
  font-size: 1.25em;
  opacity: 1;
}
.error{
  color:red;
  margin:0.75em 0 ;
  display: inline-block;
  font-size: 0.75em;
}
/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 550px) {
    .caption{
      font-size: 1em;
      font-weight: 500;
  }
  .input{
      width: 90%;
      margin:2em auto;
  }
  .submit{
    width: 55%;
  }
  .container{
    margin:2em auto;
    width:80%;
  }
  .header{
    font-size: 3em;
   height: 15vh;
   
  }
  .page{
    background-position: 50% 100%;

  }
}

/* Tablet */
@media only screen and (max-width:769px) and (min-width:551px) {
  .caption{
    font-size: 1em;
  } 
  .input{
    width: 90%;
    margin:2em auto;
  }
  .submit{
  width: 55%;
  }
  .container{
  margin:2em auto;
  width:80%;
  }

}
@media only screen and (max-width:1024px) and (min-width:770px) {

  .input{
    width: 90%;
    margin:2em auto;
  }
  .submit{
  width: 35%;
  }
  .container{
  margin:2em auto;
  width:80%;
  }

 }
