/* compress sections css */

.portfolio{
    padding-top:90px;
}
.header{
    text-align: center;
    margin-top: 1em;
}
.preview{
    display: flex;
    justify-content: space-evenly;
    margin-top: 5em;
}
.preview_item{
    width:20%;
}
.preview_item_img{
    width:100%;
}
.preview_item h4{
    text-align: center;
    color:#4271FF;
}
.preview_item span a{
   text-align: center;
   display: block;
   color:#2D74B3;
}
.preview_item span a:hover{
    text-align: center;
    display: block;
    color:#1F70FF;
 }

 /* Template */
 .template_section, .ballRunner_section,  .cryptoNet_section, .portfolio_section{
     margin-top: 5em;
     padding-left: 1em;
     position: relative;
 }
 .template_section h2 a, .ballRunner_section h2 a, .cryptoNet_section h2 a, .portfolio_section h2 a{
    width:40%;
    margin-right: 0;
    color:#E38212;
}
.template_section h2 a:hover, .ballRunner_section h2 a:hover, .cryptoNet_section h2 a:hover, .portfolio_section h2 a:hover{
    color:#1DF01D;
}
.template_img, .ballRunner_img, .cryptoNet_img, .portfolio_img{
    position: absolute !important;
    width:30%;
    top: 0;
    right: 0;
    margin-right: 2em;
}
.template_section p, .ballRunner_section p, .cryptoNet_section p, .portfolio_section p{
    width:40%;

}

/* Mobile */
@media only screen and (max-width: 550px) {
    .header{
        font-size: 1.55em;
    }
    .preview{
        margin-top: 2em;
    }
    .preview_item{
        width:45%;
        margin:2em 0;
    }
    .preview{
        flex-wrap: wrap;
    }
    /* template */
    .template_section, .ballRunner_section, .cryptoNet_section, .portfolio_section{
        margin-top: 1em;
        padding:1em;
    }
    .template_section h2, .ballRunner_section h2, .cryptoNet_section h2, .portfolio_section h2{
        width:100%;
    }
    .template_img, .ballRunner_img, .cryptoNet_img,  .portfolio_img{
        position: relative !important;
        width:100%;
        margin: 0 auto;
    }
    .template_section p, .ballRunner_section p, .cryptoNet_section p, .portfolio_section p{
        width:100%;
    }

    
}

/* Tablet */
@media only screen and (max-width:769px) and (min-width:551px) {
    .template_section h2, .template_section p{
        width:55%;
    }
    /* Ball Runner */
    .ballRunner_section h2, .ballRunner_section p{
        width:55%;
    }
    /* Crypto Currency */
    .cryptoNet_section h2, .cryptoNet_section p{
        width:55%;
        
    }
    /* Portfolio */
    .portfolio_section h2, .portfolio_section p{
        width:55%;
    }
}
@media only screen and (max-width:1024px) and (min-width:770px) {

 }
 @media only screen and  (min-width:1410px){
    .template_section, .ballRunner_section,  .cryptoNet_section, .portfolio_section{
        padding-bottom: 2em;
    }
  }
  @media only screen and  (min-width:1860px){
    .template_section, .ballRunner_section,  .cryptoNet_section, .portfolio_section{
        padding-bottom: 5em;
    }
  }